:root {
    --requiredRed: red;
    --requiredValid: green;
    --blackFont: rgb(1, 6, 19);
    --border: rgb(37, 49, 209);
    --legendText: rgb(37, 49, 209);
}

.header-grid {
    display: grid;
    grid-template-columns: 6rem auto;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto;
    color: rgb(1, 6, 19);
    padding: 0;
    font-family: 'Roboto';
    background-color: rgb(228, 229, 233);
}

.header-flex #logo img {
    padding: 10px; 
}

.header-flex h1 {
    text-shadow: 0 0 10px #241e1e;
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    list-style-type: none;
    background-color: rgb(37, 49, 209);
    font-family: Roboto;
    text-align: center;
    margin: 0;
    font-size: 1.5rem;
    color: white;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
}

nav li:hover {
    background-color: rgba(92, 91, 91, 0.959);
    cursor: pointer;
}

nav .active {
    background-color: black;
    font-weight: bold;
}

#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: .25rem .75rem;
	background-color: #eee;
	color: #000;
	position: absolute;
	top: 4rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❌";
}

.menuLinks {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #333;
	color: #fff;
}

.menuLinks li {
	display: none;
}

.menuLinks li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.menuLinks li a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}

.hero {
    position: relative;
    height: 50vh;
    width: 100%;
}

.hero-image {
    position: absolute;
    height: 50vh;
    width: 100%;
    background-image: url("https://images.ctfassets.net/0wjmk6wgfops/2Ug1ZjCIucSfTtjV9ClSca/a8923ed152e2283ab6ae37c1aebd94a5/Washington_Ave_winter_morning_credit_Albert_Lew_8234092f-e5ec-4c76-897b-4c53715b8d8c.jpg?q=70");
    opacity: .5;
    background-size: cover;
}

.hero-text {
    position: absolute;
    font-weight: bold;
    color: rgb(1, 6, 19);
    text-align: center;
    justify-content: center;
}

.hero button {
    font-weight: bold;
    font-size: 1.5rem;
}

.scenarios {
    width: 95%;
    margin-top: 30px;
}

.a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;

    border: #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 2.5px;
    box-shadow: 0 0 4px 2px;
    background-color: rgb(228, 229, 233);
    margin: 5% auto;
} 

.b {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 98%;
    border: #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 2.5px;
    box-shadow: 0 0 4px 2px;
    background-color: rgb(228, 229, 233);
    margin: 5% auto;
}

#forecast {
    background-color: rgb(228, 229, 233);
    border: none;
}


#forecast p {
    width: 98%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.spotlights-one, .spotlights-two {
    box-sizing: border-box;

    border: #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 2.5px;
    box-shadow: 0 0 4px 2px;
    background-color: rgb(228, 229, 233);
    text-align: left;
    justify-content: center;
    margin: 5% auto;
    padding: 10px;
    width: 95%;
}

.spotlights-one h2, .spotlights-two h2 {
    text-align: center;
}

.spotlights-one section, .spotlights-two section {
    font-family: sans-serif;
    font-size: 1rem;
}

.two-spotlights h2 {
    color: rgb(1, 6, 19);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.scenarios li {
    list-style: none;
}

footer {
    text-align: center;
    background-color: rgb(37, 49, 209);
    font-family: Roboto;
    color: white;
    padding: 10px;
}

.sidebar-parent {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    margin-top: 5px;
  }

  .sidebar-child {
    text-align: center;
    border: #333;
    border-style: solid;
    border-width: 1px;
    border-radius: 2.5px;
    margin: 10px;
    font-family: "Roboto";
    min-width: 0;
    box-shadow: 0 0 4px 2px;
    padding-bottom: 10px;
  }

  .sidebar-child iframe {
    width: 95%;
  }

  .sidebar-child img {
    width: 95%;
    height: auto;
  }

  .sidebar-child li {
    text-align: left;
    margin: 5px;
  }

  .sources {
    font-style: italic;
    list-style: none;
  }

  .no-bullets {
    list-style: none;
  }

  #today {
    display: inline;
  }

  form fieldset {
    margin: 1rem 1rem;
    border: 3px solid var(--border);
    border-radius: 10px;
    padding: 1rem 20% 0 25%;
}

form legend {
    color: var(--legendText);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-weight: bold;
    font-size: larger;
    width: fit-content;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    padding: 0 10% 10% 0;
    color: var(--blackFont);
    font-size: .8rem;
}

form label.top input{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form #level {
    max-width: 90%;
}

form label.top input:required {
    border-left: var(--requiredRed) solid 6px;
}

form label.top input:required:valid {
    border-left: var(--requiredValid) solid 6px;
}

.submit {
    border: none;
    background-color: var(--border);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.benefits {
    display: none;
}

.rating-sent {
    padding: 0 20% 0 20%;
    text-align: center;
}

.hide {
    display: none;
}

.menu {
    text-align: center;
    background-color: rgb(228, 229, 233);
    padding: 5px;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #eee;
}

.grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;
	align-items: center;
}

.grid section {
	text-align: center;
    height: auto;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h3 {
	font-family: "Caveat", cursive;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 1fr;
	margin: 5px;
	padding: 0.25rem;
    text-align: center;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}

section h3 {
	font-size: 1.5rem;
}

section p {
	font-weight: 600;
	font-size: smaller;
}

section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

img {
	height: 75px;
	max-width: 100%;
}

.two-spotlights section {
    background-color: rgb(228, 229, 233);
    border: none;
    height: auto;
}

.spotlights-two h2 {
    margin-bottom: 0;
}

.two-spotlights {
    display: flex;
    flex-direction: column;
}

.spotlights-one section {
    margin-top: -10px;
}

.hide-banner {
    display: block;
    height: 75px;
    margin-top: 10px;
    width: 100%;
}

.banner-button {
    position: relative;
    float: right;
    font-size: larger;
    z-index: 1;
}

#span-banner {
    position: absolute;
    width: 100%;
    height: 40px;
    background: radial-gradient(#fff, #565ed1);
    padding: 1rem;
    text-align: center;
    opacity: .8;
    border: 1px solid rgb(97, 94, 94);
    box-shadow: 0 0 10px 5px rgb(168, 167, 167);
    border-radius: 3px;
}

#span-banner h2 {
    margin: -10px auto;
    font-size: 1rem;
    width: 50%;
}

#toggle {
    font-size: 1.5rem;
}